%{ for index, group in ansible_group_replsets ~}
Host ${hostname_replsets[index]}
  Hostname ${ip_replsets[index]}
  User ${my_ssh_user}
  %{ if enable_ssh_gateway }ProxyCommand ssh -W %h:%p ${ssh_gateway_name}%{ endif }
%{ endfor ~}
%{ for index, group in ansible_group_arbiters ~}
Host ${hostname_arbiters[index]}
  Hostname ${ip_arbiters[index]}
  User ${my_ssh_user}
  %{ if enable_ssh_gateway }ProxyCommand ssh -W %h:%p ${ssh_gateway_name}%{ endif }  
%{ endfor ~}
Host ${hostname_pmm}
  Hostname ${public_ip_pmm}
  User ${my_ssh_user}
  LocalForward ${port_to_forward} 127.0.0.1:${pmm_port}
  %{ if enable_ssh_gateway }ProxyCommand ssh -W %h:%p ${ssh_gateway_name}%{ endif }
