# Needs fixing this error:
# mongos: error while loading shared libraries: libldap-2.4.so.2: cannot open shared object file: No such file or directory

FROM ${ psmdb_image } AS mdb

FROM ${ base_os_image }

RUN /bin/microdnf install -y openldap 

RUN useradd -m -s /bin/bash mongos \
    && mkdir -p /var/log/mongo \
    && chown -R mongos:mongos /var/log/mongo \
    && mkdir -p /etc/mongo \
    && chown -R mongos:mongos /etc/mongo

COPY --from=mdb /usr/bin/mongos* /usr/bin/
