storage:
 type: s3
 s3:
     region: ${ minio_region }
     bucket: ${ bucket_name }
     prefix: ${ env_tag }
     endpointUrl: http://${ minio_server }:${ minio_port }
     credentials:
       access-key-id: ${ minio_access_key }
       secret-access-key: ${ minio_secret_key }
