db.createRole({ "role": "pmmMonitor", "privileges": [ {
         "resource": {
            "db": "", "collection":"" },
         "actions": [
            "listIndexes",
            "listCollections",
            "dbStats",
            "dbHash",
            "collStats",
            "indexStats",
            "find"
         ]
      },
      {
         "resource": { "db": "", "collection": "system.version" },
         "actions": [ "find" ]
      },      
      {
         "resource": { "db": "", "collection": "system.profile" },
         "actions": [
            "collStats",
            "dbStats",
            "indexStats"
         ]
      }
   ],
   "roles": []
});

db.getSiblingDB("admin").createRole({ "role": "pbmAnyAction",
      "privileges": [
         { "resource": { "anyResource": true },
           "actions": [ "anyAction" ]
         }
      ],
      "roles": []
   });

db.getSiblingDB("admin").createUser({
    "user": "{{ mongodb_pmm_user }}",
    "pwd": "{{ mongodb_pmm_user_pwd }}",
    "roles": [
        { "role": "pmmMonitor", "db": "admin" },
        { "role": "clusterMonitor", "db": "admin" },
        { "role": "read", "db": "local" },
        { "db" : "admin", "role" : "readWrite", "collection": "" },
        { "db" : "admin", "role" : "backup" },
        { "db" : "admin", "role" : "clusterMonitor" },
        { "db" : "admin", "role" : "restore" },
        { "db" : "admin", "role" : "pbmAnyAction" }
{% if mongo_release is defined and (mongo_release | regex_search('[0-9]+$') | int) > 70 %}
         ,{ "db": "admin", "role": "directShardOperations" }
{% endif %}         
    ]
});

db.getSiblingDB("admin").createUser({"user": "{{ pbmuser }}",
       "pwd": "{{ pbmpwd }}",
       "roles" : [
          { "db" : "admin", "role" : "readWrite", "collection": "" },
          { "db" : "admin", "role" : "backup" },
          { "db" : "admin", "role" : "clusterMonitor" },
          { "db" : "admin", "role" : "restore" },
          { "db" : "admin", "role" : "pbmAnyAction" }
       ]
    });

