db.createRole({
   "role":"explainRole",
   "privileges":[
      {
         "resource":{
            "db":"", "collection":""
         },
         "actions":[
            "listIndexes",
            "listCollections",
            "dbStats",
            "dbHash",
            "collStats",
            "find"
         ]
      },
      {
         resource:{
            db:"", collection:"system.profile"
         },
         actions:[
            "collStats",
            "dbStats",
            "indexStats"
         ]
      }
   ],
   "roles":[]
});

db.getSiblingDB("admin").createUser({
    user: "{{ mongodb_pmm_user }}",
    pwd: "{{ mongodb_pmm_user_pwd }}",
    roles: [
        { role: "explainRole", db: "admin" },
        { role: "clusterMonitor", db: "admin" },
        { role: "read", db: "local" },
        { "db" : "admin", "role" : "readWrite", "collection": "" },
        { "db" : "admin", "role" : "backup" },
        { "db" : "admin", "role" : "clusterMonitor" },
        { "db" : "admin", "role" : "restore" },
        { "db" : "admin", "role" : "pbmAnyAction" }        
    ]
});

db.getSiblingDB("admin").createUser({user: "{{ pbmuser }}",
       "pwd": "{{ pbmpwd }}",
       "roles" : [
          { "db" : "admin", "role" : "readWrite", "collection": "" },
          { "db" : "admin", "role" : "backup" },
          { "db" : "admin", "role" : "clusterMonitor" },
          { "db" : "admin", "role" : "restore" },
          { "db" : "admin", "role" : "pbmAnyAction" }
       ]
    });

