rs.initiate(
  {
    _id: "{{ cluster }}-{{ group_names[0] }}",
    configsvr: true,
    members: [
      {% for h in groups['cfg'] %}
         { _id : {{ loop.index }}, host : "{{ h }}:{{ cfg_server_port }}", priority: {% if hostvars[h].mongodb_primary | default(false) %}10{% else %}1{% endif %} }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
);
