rs.initiate(
  {
    _id: "{{ cluster }}-cfg",
    configsvr: true,
    members: [
      {% for h in groups['cfg'] %}
         { _id : {{ loop.index }}, host : "{{ h }}:{{ cfg_server_port }}", priority: {% if loop.first %}10{% else %}1{% endif %} } {% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
);
