{% set replset_group = (group_names | difference(['replsets', 'shards']))[0] %}
{% set replset_name = replset_group if cluster is defined and cluster == replset_group else (cluster ~ '-' ~ replset_group if cluster is defined else replset_group) %}
rs.initiate(
  {
    _id: "{{ replset_name }}",
    members: [
      {% for h in groups[ group_names[0] ] %}
      { 
        _id : {{ loop.index }}, 
        host : "{{ hostvars[h].ansible_facts['fqdn'] }}:{{ mongo_port }}",
        {% if hostvars[h].arbiter | default(false) %}
        arbiterOnly: true
        {% else %}
        priority: {% if hostvars[h].mongodb_primary | default(false) %}2{% else %}1{% endif %}
        {% endif %}
      }
        {% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
);
