rs.initiate(
  {
    _id: "{{ cluster }}-{{ group_names[0] }}",
    members: [
      {% for h in groups[ group_names[0] ] %}
      { 
        _id : {{ loop.index }}, 
        host : "{{ h }}:{{ mongo_port }}",
        {% if hostvars[h].arbiter | default(false) %}
        arbiterOnly: true
        {% else %}
        priority: {% if hostvars[h].mongodb_primary | default(false) %}2{% else %}1{% endif %}
        {% endif %}
      }
        {% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
);
