# mongod.conf - Shard Server

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  logRotate: reopen
  path: {{ mongod_log_path }}/mongod.log

{% if enable_audit %}
auditLog:
  destination: file
  format: JSON
  path: {{ audit_log_path }}
  filter: '{{ audit_filter }}'
{% endif %}

# Where and how to store data.
storage:
  dbPath: {{ mongod_path }}
  directoryPerDB: true
# journal:
#   enabled: true
# wiredTiger:
#   engineConfig:
#         directoryForIndexes: true

# how the process runs
processManagement:
  fork: true  # fork and run in background
  pidFilePath: {{ mongod_pid_path }}  # location of pidfile
  timeZoneInfo: /usr/share/zoneinfo

# network interfaces
net:
  port: {{ mongo_port }}
  bindIp: localhost,{{ hostvars[inventory_hostname]['ansible_facts']['default_ipv4']['address'] }}
{% if use_tls %}
  tls:
    mode: requireTLS
    certificateKeyFile: {{ certificateKeyFile }}
    CAFile: {{ CAFile }}
    allowConnectionsWithoutCertificates: true
{% endif %}

security:
  authorization: enabled
{% if enable_ldap | default(false) | bool %}
  authenticationMechanisms: [SCRAM-SHA-256, PLAIN]
  ldap:
    servers: {{ ldap_server }}:{{ ldap_port | default(389) }}
    bind:
      queryUser: {{ ldap_admin_dn }}
      queryPassword: {{ ldap_admin_password }}
    userToDNMapping: '[ { match : "(.+)", substitution : "uid={0},{{ ldap_users_dn }}" } ]'
    transportSecurity: none
{% endif %}
{% if use_tls %}
  clusterAuthMode: x509
{% else %}
  keyFile: {{ keyFile_location }}
{% endif %}
{% if keyfile_encryption %}
  enableEncryption: true
  encryptionKeyFile: {{ encryption_keyfile }}
{% elif vault_encryption %}
  enableEncryption: true
  vault:
    serverName: {{ vault_server }}
    port: {{ vault_port }}
    tokenFile: {{ vault_tokenfile }}
    secret: {{ vault_secret }}
    serverCAFile: {{ vault_cafile }}
{% endif %}

operationProfiling:
   slowOpThresholdMs: 200
   mode: all
#   slowOpSampleRate: 0.1
{% if mongodb_distribution_effective == 'psmdb' %}
   rateLimit: 100
{% endif %}

{% if enable_audit or (enable_mongot_effective | bool and arbiter is not defined) %}
setParameter:
{% if enable_audit %}
  auditAuthorizationSuccess: true
{% endif %}
{% if enable_mongot_effective | bool and arbiter is not defined %}
  searchIndexManagementHostAndPort: localhost:{{ mongot_port }}
  mongotHost: localhost:{{ mongot_port }}
  skipAuthenticationToSearchIndexManagementServer: false
  useGrpcForSearch: true
  searchTLSMode: disabled
{% endif %}
{% endif %}

replication:
  replSetName: {{ cluster }}-{{ hostvars[inventory_hostname].group_names | reject('equalto', 'shards') | list | first }}

sharding:
  clusterRole: shardsvr
