FROM ${ psmdb_image } AS mdb
FROM ${ pbm_image } AS pbm

FROM ${ base_os_image }

RUN mkdir -p /data/db /data/configdb

COPY --from=mdb /usr/bin/mongod /usr/bin/
COPY --from=pbm /usr/bin/pbm* /usr/bin/