storage:
  type: minio
  minio:
    endpoint: ${ minio_server }:${ minio_port }
    bucket: ${ bucket_name }
    prefix: ${ rs_name }
    credentials:
      access-key-id: ${ minio_access_key }
      secret-access-key: ${ minio_secret_key }
