[replsets:children]
${rs_name}

[${rs_name}]
%{ for index, group in ansible_group_replsets ~}
${hostname_replsets[index]} ansible_host=${ip_replsets[index]}${ index == 0 ? " mongodb_primary=True" : "" }
%{ endfor ~}
%{ for arb_index, arb_group in ansible_group_arbiters ~}
${hostname_arbiters[arb_index]} ansible_host=${ip_arbiters[arb_index]} arbiter=True
%{ endfor ~}

%{ if hostname_pmm != "" ~}
[pmm]
${hostname_pmm} ansible_host=${ip_pmm}

%{ endif ~}
%{ if hostname_ycsb != "" ~}
[ycsb]
${hostname_ycsb} ansible_host=${ip_ycsb}

%{ endif ~}
[all:vars]
ansible_ssh_user=${my_ssh_user}
bucket=${bucket}
cluster=${rs_name}
env_tag=${env_tag}
access_key_id=${access_key}
secret_access_key=${secret_access_key}
storage_provider=gcs
%{ if mongo_release != "" ~}
mongo_release=${mongo_release}
%{ endif ~}
%{ if mongo_version != "" ~}
mongo_version=${mongo_version}
%{ endif ~}
%{ if pbm_release != "" ~}
pbm_release=${pbm_release}
%{ endif ~}
%{ if pbm_version != "" ~}
pbm_version=${pbm_version}
%{ endif ~}
%{ if pmm_client_version != "" ~}
pmm_client_version=${pmm_client_version}
%{ endif ~}
enable_audit=${enable_audit}
%{ if audit_filter != "" ~}
audit_filter=${audit_filter}
%{ endif ~}
